@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root {
  --main-text-color:#2f2f2f;
}


/*global*/

* {
  padding: 0;
  box-sizing: border-box;
}
main {
  min-height: 100vh;

}
body {
  color:var(--main-text-color);
  background-color: #a4b5a4;
}

/*header*/
.main-h1 {
  color:rgb(40, 40, 40);
  text-decoration: none;
}

.main-h1:hover{
  color: black;
}

header {
    background-color: #B3C8B8;
    font-family: 'Bebas Neue', sans-serif;
    color:rgb(29, 29, 29);
    text-align: center;
}

header form{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.8em;
}

.nav-ul {
  list-style-type: none;
  font-size: 1.4em;
  display: flex;
  justify-content: space-around;
  color:rgb(79, 79, 79);
}

.nav-ul a:hover {
  color:rgb(29, 29, 29);
}

header .form-control {
  border-radius: 50px;
  border: solid black 3px;
  opacity: 50%;
  font-size: 0.6em;
}

.search-btn {
  border-radius: 50px;
}

.slider-btn  {
  text-decoration: none;
  color: (var(--main-text-color));
  opacity: 75%;
  text-transform: uppercase;
  font-size:1.2em;
}

.slider-btn:hover {
  color: var(--main-text-color);  
  opacity: 85%;
}

/*product card*/
.card {
  overflow: hidden;
  border-radius: 0;
}

.priceCart {
  display:flex;
  justify-content: space-between;
  text-transform: uppercase;
  size:0.8em;
  align-items: center;
}

.title-heart {
  display:flex;
  justify-content: space-between;
}

.title-link {
  color:var(--main-text-color);;
}

.title-link:hover {
  color:black;
}

.cart-btn {
  font-size:0.8em;
}

.card-img-top {
  border-radius: 0;
  margin-top:0.5em;
}


/*id*/
.productDiv {
  margin-top:1em;
}

.small-pics {
  display: flex;
  justify-content: space-between;
  margin-bottom:1em;
}

.small-pics img:hover {
  cursor:pointer;
  transform:scale(1.02);
}

.main-pic {
 width:100%;
 /*si je remet les autres images en dehors faut mettre height pas width*/
}

/* page index : nom des categorie */
.titre{
  text-decoration: none;
  color: white;
}

.titre:hover{
  color: #7e8a81;
}


/*login*/
.logout-btn {
  width:13em;
}

.error-msg {
  color:red;
}

.sign-btn {
  color:white;
  text-decoration: none;
}

.sign-btn:hover {
  color:white;
}

/*footer*/
.footer{
  background-color: #3D3D3D;  
  height: 3em;
  font-size: 0.8em;
}
.footer a {
  color:white;
}

/* breadcrumb*/

.breadcrumb{
  height: 1.2em;
}

.breadcrumb a{
  color:var(--main-text-color);

}

.breadcrumb a:hover{
  color:black;

}
.btnAriane{
  border: none;
  background-color: #808d80;
}

/*cart*/
.cart-img {
  display:flex;
  align-items:center;
}

